body{
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}
.main{
    flex-grow: 1;
    overflow: scroll;
}
/*Estou utilizando as classes para ganhar tempo, estilizando uma classe para alterar diversas imagens(pufavo vitu não ache ruim */
.img-nav{
    width: 35px;
    height: 35px;
    object-fit: contain;
    transition: 1s;
<<<<<<< HEAD
    font-size: 40px;
    color: black;
=======
>>>>>>> a7003b8b0352b0584aa37013b2135eea7f205e5e

}
li{
    margin-bottom: 45px;

}
.img-nav:hover{
    border-radius: 10px;
<<<<<<< HEAD
    
    color: #F29500;
=======
    background-color: #53505034;
>>>>>>> a7003b8b0352b0584aa37013b2135eea7f205e5e
}
.frase-informacoes-visao-geral{
    width: 95px;
    font-size: 15px;
    font-weight: 600;
}
.img-visao-geral{
    color: #fff;
    font-size: 60px;
    margin-right: 10px;
}
.div-meus-cursos-dashboard{
    border: rgba(230, 230, 230, 1) solid 2px;
    border-radius: 20px;
    width:66%; 
    height: 292px;
}
.div-info-cursos-dashboard{
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 45%;
    height: 55%;
}
.div-info-cursos-dashboard h1{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 22px;
}
.bnt-informacoes-cadastro-curso{
    background-color: #FFFFFF;
    color: #C2C2C2;
    border:rgba(217, 217, 217, 0.4) solid 2px;
    border-radius: 10px;
    width: 142px;
    height: 35px;
}
.bnt-informacoes-aberto-curso{
    background-color: #FFFFFF;
    color: #F29500;
    border:rgba(242, 149, 0, 1) solid 2px;
    border-radius: 10px;
    width: 142px;
    height: 35px;
    transition: 0.5s;
}
.bnt-informacoes-aberto-curso:hover{
background-color: #F29500;
color: #fff;
}
.div-atividades-recentes{
    width: 300px;
    height: 365px;
    border:rgba(217, 217, 217, 0.4) solid 2px;
    border-radius: 25px;
    
}

.div-atividades-recentes h1{
    font-size: 25px;
}
.div-atividades-recentes li{
    line-height: 1.1;
}
.div-atividades-recentes ul li::marker{
color: blue;
font-size: 1.5rem;
}

.texto-ver-todos{
    font-size: 21px;
    font-weight: 600;
    color: #F29500;
}
<<<<<<< HEAD
.pesquisar-input{
    color: black;
    font-size: 25px;
=======
>>>>>>> a7003b8b0352b0584aa37013b2135eea7f205e5e

}

.nav-info-candidatos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    background-color: #F29500;
}

.div-eng-input-obj{
    border-radius: 20px;
    background-color: #fff;
    height: 40px;

}
.input-page-candidatos{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.img-input{
    font-size: 20px;
}
.img-input:hover{
    cursor: pointer;
}