body{
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}
.main{
    flex-grow: 1;
    overflow: scroll    ;
    
}
/*Estou utilizando as classes para ganhar tempo, estilizando uma classe para alterar diversas imagens(pufavo vitu não ache ruim */
.img-nav{
    width: 35px;
    height: 35px;
    object-fit: contain;
    transition: 1s;
    font-size: 40px;
    color: black;

}
li{
    margin-bottom: 45px;

}
.img-nav:hover{
    border-radius: 10px;
    
    color: #F29500;
}
.frase-informacoes-visao-geral{
    width: 95px;
    font-size: 15px;
    font-weight: 600;
}
.img-visao-geral{
    color: #fff;
    font-size: 60px;
    margin-right: 10px;
}
.div-meus-cursos-dashboard{
    border: rgba(230, 230, 230, 1) solid 2px;
    border-radius: 20px;
    width:66%; 
    height: 292px;
}
.div-info-cursos-dashboard{
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 45%;
    height: 55%;
}
.div-info-cursos-dashboard h1{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 22px;
}
.bnt-informacoes-cadastro-curso{
    background-color: #FFFFFF;
    color: #C2C2C2;
    border:rgba(217, 217, 217, 0.4) solid 2px;
    border-radius: 10px;
    width: 142px;
    height: 35px;
}
.bnt-informacoes-aberto-curso{
    background-color: #FFFFFF;
    color: #F29500;
    border:rgba(242, 149, 0, 1) solid 2px;
    border-radius: 10px;
    width: 142px;
    height: 35px;
    transition: 0.5s;
}
.bnt-informacoes-aberto-curso:hover{
background-color: #F29500;
color: #fff;
}
.div-atividades-recentes{
    width: 300px;
    height: 365px;
    border:rgba(217, 217, 217, 0.4) solid 2px;
    border-radius: 25px;
    
}

.div-atividades-recentes h1{
    font-size: 25px;
}
.div-atividades-recentes li{
    line-height: 1.1;
}
.div-atividades-recentes ul li::marker{
color: blue;
font-size: 1.5rem;
}

.texto-ver-todos{
    font-size: 21px;
    font-weight: 600;
    color: #F29500;
}
.pesquisar-input{
    color: black;
    font-size: 25px;

}

.div-input-pesquisar-candidatos{
    background-color: #fff;
    border-radius: 50px;
    width: 85%;
    height: 45%;
    border: 2px rgba(0, 0, 0, 0.1) solid;
}

.nav-info-candidatos{
    box-sizing: border-box;
    height: 80px;
    border: 2px rgba(0, 0, 0, 0.1) solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nav-info-candidatos ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    height: 80px;
    box-sizing: border-box;
    margin: 0;
    padding-top: 40px;
    font-size: 20px;
    font-weight: 600;
}
.img-pesquisar-area-candidato{
    font-size: 16px;
}

.input-pesquisar-area-candidatos{
    border-radius: 50px;
    outline: none;
    border: none;
    padding-left: 7px ;
}

.container-conteudo-area-candidatos{
    border-right:  2px rgba(0, 0, 0, 0.1) solid;
    border-left:  2px rgba(0, 0, 0, 0.1) solid;
    border-bottom:  2px rgba(0, 0, 0, 0.1) solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.div-conteudo-area-candidatos ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
        width: 100%;
    align-items: center;
    list-style: none;
    height: 80px;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    padding-top: 40px;
    font-size: 17px;
    font-weight: 400;
}

.img-candidato-area-candidato{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.botao-confirmar-candidato{
    border: none;
    background-color: #448FFF;
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
    height: 35px;
}

.botao-excluir-candidato{
    border: none;
    background-color: #F29500;
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
    height: 35px;
}