body{
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}
.main{
    flex-grow: 1;
    
}
/*Estou utilizando as classes para ganhar tempo, estilizando uma classe para alterar diversas imagens(pufavo vitu não ache ruim */
.img-nav{
    width: 35px;
    height: 35px;
    object-fit: contain;
}
li{
    margin-bottom: 45px;
}



